/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* En-tête */
header {
    background-color: #755111;
    color: white;
    padding: 1rem;
    text-align: center;
}

/* Section principale */
main {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Boutons */
#buttons {
    margin-bottom: 20px;
    text-align: center;
}

#buttons button {
    background-color: #754611;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

#buttons button:hover {
    background-color: #56370a;
}

/* Sections */
section {
    margin-top: 20px;
}

h2 {
    color: #725211;
    
}

#usersResult, #ordersResult {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Liste des utilisateurs et commandes */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

button.delete-btn {
    background-color: #FF4C4C;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button.delete-btn:hover {
    background-color: #C70000;
}
